body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 119, 255);
    text-align: center;
}
.home {
    grid-area: home;
    list-style: none
}

.play-game {
    grid-area: play;
    list-style: none
}
.header-container {
    display: grid;
    grid-template-columns: 2fr 2fr 9fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "home home play";
}

.list {
    list-style: none;
}

