<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    </head>
    <body>
        <div class="header-container">
        <ul>
            <div class="home">
            <li class="header"><a href="/home">Home</a></li>
            </div>
            <div class="play-game">
            <li class="header"><a href="/playgame"> Play rock paper scissors</a></li>
            </div>
        </ul>
        </div>
    <hr>
    {% block content %}

    {% endblock %}
    </body>
</html>